*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

img {
    pointer-events: none;
}

.firstBigMainSection {
    overflow: hidden;
}

.topMainHeader {
    width: 100%;
    height: 79px;
    display: flex;
    align-items: center;
    z-index: 100;
}

.topMainHeader .topMenuBtn {
    width: 30px;
    height: 31px;
    position: absolute;
    border: none;
    cursor: pointer;
    background: transparent;
    position: relative;
    left: 60px;
}

.topMainHeader .topMenuBtn img {
    width: 100%;
    height: 100%;
}

.topMainHeader .menuMainUl {
    display: flex;
    gap: 60px;
    font-size: 25px;
    position: absolute;
    right: 30px;
}

.topMainHeader .menuMainUl li {
    list-style: none;
    font-weight: 600;
    font-family: sans-serif;
    position: relative;
    cursor: pointer;
}

.topMainHeader .menuMainUl li:first-child {
    position: relative;
    z-index: 1;
}

.topMainHeader .menuMainUl li:first-child:before {
    content: '';
    width: 100px;
    height: 8px;
    position: absolute;
    left: -38px;
    top: 15px;
    background: #94C4F0;
    z-index: 0;
}

.topMainHeader .menuMainUl li:first-child p {
    position: relative;
    z-index: 2;
}

.firstBigHomePart {
    width: 100%;
    height: 123vh;
    transform: translate(0, -10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.firstBigHomePart .bigCenterWhiteLogo {
    display: none;
}

.firstBigHomePart .menuBtnTopWhite {
    display: none;
}

.firstBigHomePart .responsivableWhiteSpan {
    display: none;
}

.firstBigHomePart .bigHomeImg {
    width: 93.6%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 60px;
}

.firstBigHomePart .middleLeftBottomRectangle {
    width: 410px;
    height: 179px;
    position: absolute;
    left: 58px;
    bottom: -2px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.firstBigHomePart .middleLeftBottomRectangle img {
    width: 355px;
    height: 100px;
    margin-top: 10px;
}

#centerSecondFooter {
    width: 100%;
    height: 155vh;
    background: #165E83;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translate(0, 13px);
}

#centerSecondFooter::before {
    content: '';
    position: absolute;
    right: 0;
    top: -2px;
    width: 269px;
    height: 60px;
    background: white;
}

#centerSecondFooter #topTitleSpan {
    width: 170px;
    height: 140px;
    position: absolute;
    top: 20px;
    left: 90px;
}

#centerSecondFooter hr {
    background: white;
    width: 1px;
    height: 65px;
    transform: translate(10px, 9px);
}

#centerSecondFooter #topTitleSpan span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: absolute;
    bottom: 9px;
    left: -5px;
    padding-right: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#centerSecondFooter #topTitleSpan span h2{
    transform: rotate(-90deg) translate(-5px, 0);
    font-size: 25px;
    text-shadow: 0 0 5px white;
}

#centerSecondFooter #topTitleSpan span p {
    font-size: 27px;
}

#centerSecondFooter .centerTextPart {
    width: 86%;
    height: 300px;
    display: flex;
    flex-direction: row;
    color: white;
    position: relative;
    top: 0;
    justify-content: space-between;
}

#centerSecondFooter .centerTextPart span {
    width: 30%;
    height: 350px;
    text-align: right;
    position: relative;
    z-index: 2;
}

#centerSecondFooter .centerTextPart span h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    position: relative;
    z-index: 1;
}

#centerSecondFooter .centerTextPart span h2::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 15px;
    background: #797A7E;
    z-index: -1;
    top: 10px;
    transform: translate(-10px);
}

#centerSecondFooter .centerTextPart span p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin-top: 30px;
    line-height: 30px;
}

#centerSecondFooter .centerTextPart span .plusText {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    bottom: 0;
    right: 0;
    z-index: 3;
}

#centerSecondFooter .centerTextPart span .plusText::after {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    background: #202332;
    z-index: 1;
    right: -2px;
    bottom: 16px;
}

#centerSecondFooter .centerBottomBtn {
    width: 280px;
    height: 90px;
    background: white;
    border: none;
    position: absolute;
    bottom: 80px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

#centerSecondFooter .centerBottomBtn::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 10px;
    width: 278px;
    height: 85px;
    border: 2px solid white;
}

.secondPartFooter {
    width: 100%;
    height: 162vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondPartFooter .secondTopTitle {
    position: absolute;
    height: 120px;
    top: 40px;
    left: 100px;
    width: 500px;
}

.secondPartFooter .secondTopTitle::before {
    content: '';
    background: black;
    width: 70px;
    height: 1px;
    transform: rotate(-90deg);
    position: absolute;
    top: 40px;
    left: -33px;
}

.secondPartFooter .secondTopTitle h2 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: -15px;
    display: flex;
    color: black;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-align: left;
}

.secondPartFooter .secondTopTitle h2 b {
    transform: rotate(-90deg);
    text-shadow: 0 0 5px gray;
}

.secondPartFooter .secondPartBottomTextPart {
    width: 87%;
    height: 57%;
    position: relative;
    margin-top: 165px;
    display: flex;
}

.secondPartFooter .secondPartBottomTextPart .textPartSpan {
    width: 68%;
    height: 100%;
    padding-right: 70px;
    text-align: right;
    position: relative;
}

  .secondPartFooter .secondPartBottomTextPart .textPartSpan {
    overflow-y: scroll;  
    direction: rtl; 
    text-align: right;
  }

  .secondPartFooter .secondPartBottomTextPart .textPartSpan::-webkit-scrollbar {
    width: 2px;
  }

  .secondPartFooter .secondPartBottomTextPart .textPartSpan::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #654E9F;
  }

.secondPartFooter .secondPartBottomTextPart .textPartSpan h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: #165E83;
}

.secondPartFooter .secondPartBottomTextPart .textPartSpan p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-top: 20px;
    line-height: 40px;
}

.secondPartFooter .secondPartBottomTextPart .imgPartSpan {
    width: 32%;
    height: 100%;
    background: #165E83;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondPartFooter .secondPartBottomTextPart .imgPartSpan img {
    width: 80%;
    height: 70px;
}

.secondPartFooter .secondPartBottomTextPart .imgPartSpan::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 120px;
    height: 82px;
    background: white;
}

.secondPartFooter .secondPartBottomTextPart .imgPartSpan h2 {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
    transform: rotate(-90deg);
    left: -120px;
    top: 60px;
}

.middleRegisterSection {
    width: 100%;
    height: 470px;
    display: flex;
    flex-direction: row;
}

.middleRegisterSection .middleSectionFirstPart {
    width: 65%;
    height: 100%;
    background: #165E83;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.middleRegisterSection .middleSectionFirstPart .titleLongDiv {
    display: none;
}

.middleRegisterSection .middleSectionFirstPart .titleTop {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 70px;
    right: 100px;
}

.middleSectionFirstPart .cubesLongDiv {
    width: 1000px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: -40px;
}

.middleSectionFirstPart .cubesLongDiv p {
    display: none;
}

.middleSectionFirstPart .cubesLongDiv .cubeItem {
    width: 70px;
    height: 70px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transform: rotate(-45deg);
}

.middleSectionFirstPart .cubesLongDiv .cubeItem:last-child {
    box-shadow: 0 0 20px white;
}

.middleSectionFirstPart .cubesLongDiv .cubeItem::before {
    content: '';
    position: absolute;
    top: 99px;
    left: -41px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: white;
}

.middleSectionFirstPart .cubesLongDiv .cubeItem img {
    transform: rotate(45deg);
}

.middleSectionFirstPart .cubesLongDiv .leftArrow {
    width: 40px;
    height: 8px;
}

.middleSectionFirstPart .bottomHrDiv {
    width: 100%;
    height: 5px;
    transform: translate(0, 101px);
    background: white;
}

.middleSectionFirstPart .bottomTextPart {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    transform: translate(0, 150px);
}

.middleSectionFirstPart .bottomTextPart p {
    width: 100px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

.middleRegisterSection .middleSectionSecondPart {
    width: 35%;
    height: 100%;
    background: #202332;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.middleRegisterSection .middleSectionSecondPart h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
    font-weight: bold;
    position: absolute;
    top: 50px;
}

.middleRegisterSection .middleSectionSecondPart .inputSpan {
    width: 60%;
    border-bottom: 2px solid white;
    margin-bottom: 60px;
    position: relative;
}

.middleRegisterSection .middleSectionSecondPart .inputSpan input {
    width: 85%;
    background: transparent;
    border: none;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    text-align: right;
    color: white;
    position: absolute;
    bottom: 10px;
}

.middleRegisterSection .middleSectionSecondPart .inputSpan input::-webkit-input-placeholder {
    color: white;
    letter-spacing: 2px;
}

.middleRegisterSection .middleSectionSecondPart .inputSpan img {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.middleRegisterSection .middleSectionSecondPart #bottomSubmitBtn {
    width: 280px;
    height: 90px;
    background: white;
    border: none;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -110px;
    transition: .2s ease;
}

.middleRegisterSection .middleSectionSecondPart #bottomSubmitBtn img {
    width: 50px;
    height: 13px;
    position: absolute;
    right: 15px;
}

.middleRegisterSection .middleSectionSecondPart #bottomSubmitBtn:before{
    content: '';
    position: absolute;
    left: -10px;
    bottom: -10px;
    width: 278px;
    height: 85px;
    border: 2px solid white;
}

.middleRegisterSection .middleSectionSecondPart #bottomSubmitBtn:hover {
    box-shadow: 0 0 20px white;
}

.thirdPartSection {
    width: 100%;
    height: 144vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdPartSection::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('../img/construction-background.png') center center / cover no-repeat;
    opacity: .3;
    z-index: -1;
}

.thirdPartSection::after {
    content: '';
    position: absolute;
    width: 198px;
    height: 32px;
    background: #165E83;
    right: 0;
    bottom: -2px;
}

.thirdPartSection .topTitleBox {
    width: 220px;
    height: 120px;
    position: absolute;
    left: 90px;
    top: 20px;
}

.thirdPartSection .topTitleBox hr {
    width: 3px;
    height: 60px;
    background: black;
    position: absolute;
    left: 15px;
    top: 5px;
}

.thirdPartSection .topTitleBox h2 {
    font-size: 25px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    bottom: 5px;
}

.thirdPartSection .topTitleBox b {
    display: inline-block;
    transform: rotate(-90deg);
    text-shadow: 0 0 5px gray;
}

.thirdPartSection .centerMainDiv {
    display: flex;
    gap: 30px;
    padding: 40px;
}

.thirdPartSection .centerMainDiv p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 50px;
    opacity: .8;
    text-align: right;
}

.thirdPartSection .centerMainDiv img {
    width: 400px;
    height: 300px;
}

.fourthLongSection {
    width: 100%;
    height: 265vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #165E83;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    overflow: hidden;
}

.fourthLongSection::before {
    content: '';
    position: absolute;
    width: 350px;
    height: 48px;
    background: white;
    left: 0;
    bottom: -2px;
}

.fourthLongSection .topFourthTitleBox {
    height: 100px;
    position: absolute;
    left: 100px;
    top: 30px;
}

.fourthLongSection .topFourthTitleBox hr {
    width: 3px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
}

.fourthLongSection .topFourthTitleBox h2 {
    width: 400px;
    position: absolute;
    bottom: -10px;
    left: -15px;
    font-weight: 600;
    gap: 20px;
    display: flex;
}

.fourthLongSection .topFourthTitleBox h2 b {
    transform: rotate(-90deg);
    display: inline-block;
    text-shadow: 0 0 10px white;
}

.fourthLongSection .pictureAndTextDiv {
    display: flex;
    padding: 50px;
    gap: 50px;
    transform: translate(0, 200px);
}

.fourthLongSection .pictureAndTextDiv img {
    width: 30rem;
    height: 20rem;
}

.fourthLongSection .pictureAndTextDiv p {
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 28px;
}

.fourthLongSection .topWhiteText {
    position: absolute;
    width: 80%;
    right: 0;
    top: 220px;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 40px;
    display: inline-block;
    padding-right: 30px;
}

.lastBigFooter {
    width: 100%;
    height: 201vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -1px 0px 10px white ;
}

.lastBigFooter::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 300px;
    height: 400px;
    opacity: .3;
    background: url('../img/left-Bottom-Construction.png') center center / cover no-repeat;
}

.lastBigFooter::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 150px;
    width: 200px;
    height: 300px;
    opacity: .3;
    background: url('../img/right-Bottom-Construction.png') center center / cover no-repeat;
}

.lastBigFooter .topTitleBox {
    height: 100px;
    position: absolute;
    left: 100px;
    top: -20px;
}

.lastBigFooter .topTitleBox hr {
    width: 3px;
    height: 60px;
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    border: none;
}

.lastBigFooter .topTitleBox h2 {
    width: 300px;
    display: flex;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: bold;
    position: absolute;
    bottom: -10px;
    left: -10px;
    color: black;
}

.lastBigFooter .topTitleBox h2 b {
    font-size: 25px;
    font-weight: 700;
    transform: rotate(-90deg);
    text-shadow: 0 0 10px gray;
}

.lastBigFooter .plusItemsDiv {
    width: 80%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 230px;
    gap: 20px;
}

.lastBigFooter .plusItemsDiv div {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

 .lastBigFooter .plusItemsDiv div .plusDiv {
    width: 50%;
    display: flex;
    margin: 0 auto;
  }

.plusItemsDiv .plusItem {
    width: 240px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 17px;
}

.plusItemsDiv .plusItem span {
    width: 60px;
    height: 60px;
    background: #165E83;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    transform: rotate(-45deg);
}

.plusItemsDiv .plusItem span::before {
    content: '+';
    transform: rotate(45deg);
}

.plusItemsDiv .plusItem p {
    transform: rotate(45deg);
}

.lastBigFooter .bottomRegisterPart {
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    position: absolute;
    bottom: 0;
}

.bottomRegisterPart .titleRegisterText {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
    position: absolute;
    top: 90px;
}

.bottomRegisterPart .bottomInputSpan {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    margin: 40px;
    transform: translate(0, 100px);
    position: relative;
}

.bottomRegisterPart .bottomInputSpan input {
    width: 95%;
    border: none;
    outline: none;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    padding-right: 20px;
}

.bottomRegisterPart .bottomInputSpan img {
    position: absolute;
    right: 0;
}

.bottomRegisterPart .registerBottomBtn {
    width: 280px;
    height: 90px;
    background: #202332;
    border: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    margin-top: 130px;
}

.bottomRegisterPart .registerBottomBtn:hover {
    box-shadow: 0 0 10px gray;
}

.bottomRegisterPart .registerBottomBtn::before {
    content: '';
    width: 280px;
    height: 90px;
    position: absolute;
    left: -12px;
    bottom: -12px;
    border: 2px solid #202332;
}

.lastEndFooter {
    width: 100%;
    height: 200px;
    background: #202332;
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.lastEndFooter::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 300px;
    background: url('../img/bottom-right-background-img.png') center center / cover no-repeat;
    right: 0;
}

.lastEndFooter:after {
    content: '';
    background: white;
    width: 70%;
    height: 25px;
    position: absolute;
    right: 0;
    top: 0;
}

.lastEndFooter .bottomTextDiv {
    width: 100%;
    display: flex;
    padding: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    justify-content: space-between;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0;
}

.lastEndFooter .bottomTextDiv span {
    display: flex;
    gap: 10px;
}

.lastEndFooter .phoneBottomBtn {
    position: absolute;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.lastEndFooter .phoneBottomBtn img {
    width: 20px;
    height: 20px;
}

.lastEndFooter .toTopBtn {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    bottom: 100px;
    background: rgba(134, 134, 134, 0.554);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.lastEndFooter .toTopBtn img {
    width: 18px;
    height: 18px;
}

.lastEndFooter .centerBottomImg {
    position: absolute;
    top: 50px;
    width: 200px;
    height: 60px;
}

.lastEndFooter .bottomFacebookIcon {
    position: absolute;
    bottom: 20px;
    width: 50px;
    height: 50px;
}

.lastEndFooter .logosDivBottom {
    display: none;
}

@media (max-width: 1024px) {
  .secondPartFooter .secondPartBottomTextPart .imgPartSpan {
    background: url('../img/emanuel-photo.png') center center / cover no-repeat;
  }

  .secondPartFooter .secondPartBottomTextPart .imgPartSpan img {
      display: none;
  }

  .secondPartFooter .secondPartBottomTextPart .imgPartSpan::before {
    display: none;
  }

  .middleRegisterSection {
    flex-direction: column;
    height: 130vh;
  }

  .middleRegisterSection .middleSectionFirstPart {
    width: 100%;
    text-align: center;
  }

.middleRegisterSection .middleSectionFirstPart .titleLongDiv {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }

  .middleRegisterSection .middleSectionFirstPart .titleTop {
    display: none;
  }

  .middleRegisterSection .middleSectionSecondPart {
    width: 100%;
  }

  .lastEndFooter {
    height: 250px;
  }

  .lastEndFooter .phoneBottomBtn {
    display: flex;  
    box-shadow: 0 0 10px white;
    bottom: 0;
    right: 50px;
  } 

  .lastEndFooter .bottomFacebookIcon {
    bottom: 0;
    right: 180px;
  }

  .lastEndFooter .toTopBtn {
    bottom: 0;
    right: 115px;
  }

  .lastEndFooter .bottomTextDiv {
    bottom: 50px;
  }
}

@media (max-width: 767px) {
    
    .topMainHeader {
        display: none;
    }

    .firstBigHomePart {
        background: #202332;
    }

    .firstBigHomePart .responsivableWhiteSpan {
        content: '';
        position: absolute;
        right: -50px;
        bottom: 0;
        width: 200px;
        height: 100px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        transform: rotate(-90deg);
    }

        .firstBigHomePart .responsivableWhiteSpan p {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            letter-spacing: 4px;
            font-weight: 700;
        }

        .firstBigHomePart .responsivableWhiteSpan img {
            display: inline;
            transform: rotate(-180deg);
        }

    .firstBigHomePart .menuBtnTopWhite {
        display: flex;
        cursor: pointer;  
        background: transparent;
        border: none;
        position: absolute;
        left: 50px;
        top: 50px;
    }

    .firstBigHomePart .bigHomeImg {
        display: none;
    }

    .firstBigHomePart .middleLeftBottomRectangle {
        display: none;
    }

    .firstBigHomePart .bigCenterWhiteLogo {
        display: block;
        width: 70vw;
        height: 19vh;
    }

    #centerSecondFooter {
        width: 100%;
        height: 185vh;
    }

    #centerSecondFooter::before {
        width: 100px;
    }
    
    #centerSecondFooter .centerTextPart {
        flex-direction: column;
        text-align: right;
        top: -250px;
    }

        #centerSecondFooter .centerTextPart span {
            margin-top: 50px;
            width: 100%;
        }

        #centerSecondFooter .centerTextPart span .plusText {
            top: -30px;
        }

    .secondPartFooter {
        height: 200vh;
    }

    .secondPartFooter .secondTopTitle {
        width: 80%;
        left: 50px;
        height: 150px;
    }

    .secondPartFooter .secondTopTitle h2 {
        left: 0;
    }

    .secondPartFooter .secondPartBottomTextPart {
        flex-direction: column-reverse;
        height: 80%;
    }

    .secondPartFooter .secondPartBottomTextPart .imgPartSpan {
        width: 100%;
    }

    .secondPartFooter .secondPartBottomTextPart .textPartSpan {
        width: 100%;
        padding-right: 20px;
    }

    .thirdPartSection {
        height: 160vh;
    }

    .thirdPartSection .centerMainDiv {
        flex-direction: column-reverse;
    }

    .thirdPartSection .centerMainDiv img {
        width: 90vw;
        margin-top: 100px;
    }

    .thirdPartSection::after {
        display: none;
    }

    .thirdPartSection .topTitleBox {
        left: 20px;
    }

    .fourthLongSection {
        height: 340vh;
    }

    .fourthLongSection::before {
        width: 200px;
    }

    .fourthLongSection .topFourthTitleBox {
        left: 40px;
    }

    .fourthLongSection .pictureAndTextDiv {
        flex-direction: column;
    }

    .fourthLongSection .topWhiteText {
        right: 20px;
    }

        .fourthLongSection .pictureAndTextDiv:last-child {
            flex-direction: column-reverse;
        }

        .fourthLongSection .pictureAndTextDiv img {
            width: 90vw;
        }

    .lastBigFooter {
        height: 220vh;
    }

    .lastEndFooter:after {
        display: none;
    }

    .lastBigFooter .plusItemsDiv div{
        flex-direction: column;
    }

        .lastBigFooter .plusItemsDiv div span {
            display: flex;
        }
    
    .plusItemsDiv .plusItem {
        width: 400px;
    }

     .lastBigFooter .plusItemsDiv div .plusDiv {
        width: 100%;
    }

    .bottomRegisterPart .titleRegisterText {
        margin-top: 50px;
    }
    
    .middleRegisterSection {
        height: 240vh;
    }

    .middleRegisterSection .middleSectionSecondPart {
        height: 40%;
    }

    .middleRegisterSection .middleSectionSecondPart h1 {
        font-size: 22px;
    }

    .middleSectionFirstPart .cubesLongDiv {
        flex-direction: column;
        gap: 40px;
        margin-top: 30px;
    }

    .middleSectionFirstPart .bottomHrDiv {
        display: none;
        margin-bottom: -20px;
    }

    .middleSectionFirstPart .cubesLongDiv .cubeItem::before {
        display: none;
    }

    .middleSectionFirstPart .bottomTextPart {
        display: none;
    }

    .middleSectionFirstPart .cubesLongDiv .leftArrow {
        transform: rotate(-90deg);
    }

    .middleSectionFirstPart .cubesLongDiv p {
        display: block;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
    }

    .lastBigFooter::after {
        display: none;
    }

    .lastEndFooter {
        height: 300px;
    }

    .lastEndFooter .bottomTextDiv {
        flex-direction: column;
        text-align: center;   
        bottom: 0; 
    }

    .lastEndFooter .bottomTextDiv span {
        flex-direction: column;
    }

    .lastEndFooter::before {
        display: none;
    }

    .lastEndFooter .toTopBtn {
        display: none;
    }

    .lastEndFooter .phoneBottomBtn {
        display: none;
    }

    .lastEndFooter .bottomFacebookIcon {
        position: relative;
        display: none;
    }
    
    .lastEndFooter .logosDivBottom {
        width: 200px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 30px;
    }

    .logosDivBottom .phoneBottomBtnMobile {
        display: flex;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        background: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 10px white;
    }

    .logosDivBottom .bottomFacebookIconMobile {
        width: 50px;
        height: 50px;
    }

    .logosDivBottom .toTopBtnMobile {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(134, 134, 134, 0.554);
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }
}

@media (max-width: 500px) {
    .firstBigHomePart .bigCenterWhiteLogo {
        width: 60vw;
        height: 13vh;
    }
}